body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  max-width: 30%;
  margin: 10px 10px;
  border: 5px black solid;
  border-radius: 10px;
}

.pokemon-card {
  display: flex;
  justify-content: center;
}

Button {
  margin: 5px;
  border-radius: 4px;
  padding: 10px;
}

.btn-previous-next {
  background-color: green;
  color: white;
  font-weight: bolder;
  
}

.btn-types {
  background-color: rgb(209, 209, 0);
  font-weight: bolder;
}

/* .pokedex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
} */
